/*general*/
body {
    font-family: Inter;
    font-size: 18px;
}

body {
    background-image: url("../images/background-waves.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header .navbar-collapse .right {
    justify-content: flex-end;
}

.white {
    background-color: #ffffff;
}

.footer {
    background-color: #E5EFF8;
    margin-top: 150px;
}

.footer .row {
    max-width: 1300px;
    margin: auto;
}

.footer .footer-links .title {
    font-size: 18px;
    line-height: 28px;
    color: #17263D;
}

.footer .footer-links .subtitle a {
    font-size: 16px;
    line-height: 19px;
    color: #828A9E;
    text-decoration: none;
}

.footer .footer-links .subtitle a:hover {
    text-decoration: underline;
}

.footer .list-icons {
    display: flex;
}

.footer .first .rights {
    color: #828A9E;
    font-size: 14px;
}

.footer .first .text {
    color: #828A9E;
    font-size: 14px;
    max-width: 350px;
}

.btn-blue {
    background-color: #3167BC;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    min-width: 140px;
}

.btn-blue:hover {
    background-color: transparent;
    color: #3167BC;
    border: 1px solid #3167BC;
}

.btn-white {
    border: 1px solid #3167BC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 50px;
}

.btn-white:hover {
    background-color: #3167BC;
    color: #ffffff;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    color: #3167BC;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #3167BC;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #16303E;
}

img {
    max-height: 400px;
    max-width: 100%;
    object-fit: cover;
}

section {
    max-width: 1600px;
    margin: auto;
}

.container-fluid {
    padding: 0;
}

.center-content {
    text-align: center;
}

.center-align {
    display: flex;
    align-content: center;
    justify-content: center;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin-right: 40px;
}

.list ul {
    list-style: none;
    padding: 0;
}

.list ul li {
    padding: 10px 0;
}

.more-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #3167BC;
    text-decoration: none;
}

.more-info:hover {
    text-decoration: underline;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/*landing-page*/
.container-buttons {
    display: flex;
    justify-content: flex-start;
}

.container-buttons .btn {
    margin: 0 10px;
    min-width: 160px;
}

.unique {
    max-width: none;
    background-color: #F8F8F8;
    margin: 20px 0;
}

.unique .row {
    max-width: 1600px;
    margin: auto;
}

.our-product .our-product-title {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.our-product .text-number {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 300px;
    line-height: 200px;
    display: flex;
    align-items: center;
    color: #D3E3F3;
    justify-content: center;
}

.our-product .image-content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.counters {
    max-width: none;
    background-color: #F8F8F8;
}

.counters .container-counters {
    max-width: 1600px;
    margin: auto;
    background-color: #ffffff;
}

.counters-box .title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.counters-box .image-box {
    text-align: right;
}

.counters-box.users,
.counters-box.entry {
    border-right: 2px solid #EEEFF2;
}

/*our-security*/
.security-unique h1 {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

/*how does it work*/
.how-does-it-work .image-box {
    min-height: 90px;
}

.how-does-it-work .image-box img {
    object-fit: contain;
}

.how-does-it-work .arrow-top img {
    position: relative;
    top: 130%;
}

.how-does-it-work .arrow-down img {
    position: relative;
    top: 30%;
}

.display-mobile {
    position: relative;
}

.display-mobile .arrow-down {
    position: absolute;
    right: 10%;
    top: 10px;
}

.display-mobile .arrow-down-second {
    position: absolute;
    left: 10%;
    top: 10px;
}

.display-mobile .arrow-down img,
.display-mobile .arrow-down-second img {
    max-height: 125px
}

/*terms and faq*/
.faq-title,
.terms-title {
    max-width: none;
    background-color: #F8F8F8;
}

.faq-title .row,
.terms-title .row {
    max-width: 1600px;
    margin: auto;
}

.faq-title h1,
.terms-title h1 {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.faq .accordion-button,
.terms .accordion-button {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    color: #16303E;
    line-height: initial;
    padding-left: 0;
}

.faq .accordion-button:focus,
.terms .accordion-button:focus {
    box-shadow: none;
}

.faq .accordion-button:not(.collapsed),
.terms .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: #16303E;
}

.faq .accordion-button::after,
.terms .accordion-button::after {
    background-image: url("../images/carret_down.svg");
}

.faq .accordion-collapse,
.terms .accordion-collapse {
    border: none;
    margin-bottom: 25px;
}

.faq .accordion-body,
.terms .accordion-body {
    padding-left: 0;
}

@media only screen and (max-width: 1600px) {
    section {
        max-width: 1300px;
        margin: auto;
    }

    /*landing-page, terms and faq*/
    .faq-title .row,
    .terms-title .row,
    .counters .container-counters,
    .unique .row {
        max-width: 1300px;
        margin: auto;
    }
}

@media only screen and (max-width: 1200px) {
    /*how it does work*/
    .how-does-it-work .arrow-top img {
        max-width: 200px;
    }

    .how-does-it-work .arrow-down img {
        max-width: 200px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 30px;
        line-height: 30px;
    }

    h2 {
        font-size: 24px;
        line-height: 30px;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    h4 {
        font-size: 16px;
        line-height: 23px;
    }

    .footer {
        margin-top: 50px;
        padding: 30px 15px !important;
    }

    .footer .second .footer-links {
        max-width: 33%;
    }

    .footer .footer-links .title,
    .footer .footer-links .footer-link {
        font-size: 12px !important;
    }

    .footer .footer-links .subtitle {
        margin: 0 !important;
    }

    .footer .first {
        text-align: center;
        margin-top: 30px;
    }

    .footer .first .list-icons {
        justify-content: center;
        position: relative;
        top: 10px;
    }

    .footer .first .text {
        display: none;
    }

    .footer .first .rights {
        font-size: 12px;
    }

    .footer .first .row {
        margin: 0 !important;
    }

    .column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .display-desktop {
        display: none;
    }

    /*landing-page*/
    .header,
    .unique,
    .market,
    .our-product,
    .counters,
    section {
        padding: 15px !important;
    }

    .market .row {
        margin: 0 !important;
    }

    .market .content-text {
        margin-top: 20px;
        width: 100%;
    }

    .market .container-buttons {
        justify-content: center;
    }

    .our-product .our-product-title {
        text-align: left;
    }

    .our-product .image-content {
        margin-bottom: 15px !important;
    }

    .our-product .text-number-content {
        margin: 0 !important;
    }

    .our-product .text-number-content .text-number {
        max-width: 20%;
        font-size: 80px;
        line-height: 95px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0 !important;
    }

    .our-product .text-number-content .text-content {
        max-width: 80%;
        margin: 0 !important;
    }

    .our-product .text-number-content .text-content .subtitle {
        margin: 10px 0 !important;
    }

    .our-product .image-content img {
        max-width: 100px;
    }

    .container-buttons .btn {
        min-width: 125px;
        padding: 10px 30px;
    }

    .counters .container-counters {
        background-color: transparent;
    }

    .counters .counters-box {
        border: none;
        flex: auto;
        max-width: 50%;
        margin: 0 auto;
        padding: 10px !important;
    }

    .counters .counters-box .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .counters .counters-box .image-box {
        max-width: 30px;
        padding: 0;
    }

    .counters .counters-box .title,
    .counters .counters-box .subtitle {
        font-size: 14px;
    }

    /*    our security*/
    .security-unique {
        padding: 15px !important;
        margin: 0 !important;
    }

    .security-unique h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .list-security {
        padding: 15px !important;
    }

    .security-unique img,
    .list-security img {
        margin: 5px 0 15px;
    }

    .list-security .image-box {
        text-align: center;
    }

    /*    how does it work*/
    .how-does-it-work {
        padding: 0 !important;
    }

    .how-does-it-work h1{
        font-size: 24px;
        line-height: 30px;
    }

    .how-does-it-work .row {
        margin: 0 !important;
    }

    .how-does-it-work .image-box {
        margin-top: 50px;
    }

    /*terms and faq*/
    .faq,
    .faq-title,
    .terms,
    .terms-title {
        padding: 15px !important;
    }

    .faq-title h1,
    .terms-title h1 {
        padding: 0;
        font-size: 24px;
        line-height: 30px;
    }

    .faq-title .row,
    .faq .row,
    .terms-title .row,
    .terms .row {
        padding: 0 !important;
        margin-top: 0!important;
    }

    .faq .accordion-button::after,
    .terms .accordion-button::after {
        margin-right: -15px;
    }
}

@media only screen and (min-width: 768px) {
    .display-mobile {
        display: none;
    }
}